header {
    padding: 1em;
    color: rgb(255, 255, 255);
    background-color: black;
    clear: left;
    text-align: center;
}
#poke-container {
    display: grid;
    place-items: center;
    padding: 10px;
    grid-column-gap: 10px 10px 10px;
    row-gap: 10px;
    grid-template-columns: auto auto auto auto; 
}
div #pokemon{
    display:flexbox;
    background-color:darkgrey;
    max-width: 85%;
}

img{
    display: block;
    background: rgb(255,255,161);
    background: radial-gradient(circle, rgba(255,255,161,1) 31%, rgba(219,218,56,1) 63%);
    max-width: 80%;
}
div #pokeContent{
    display: block;
    background: rgb(222,221,221);
    background: radial-gradient(circle, rgba(222,221,221,1) 25%, rgba(147,147,147,1) 98%);
    max-width: 80%;
}

